@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
}
:root{
    --orange:#ff7800;
    --black:#130f40;
    --light:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1) ;
    --border:.2rem solid rgba(0,0,0,.1) ;
    --outline:.1rem solid rgba(0,0,0,.1) ;
    --outline-hover:.2rem solid var(--black) ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior:smooth;
    scroll-padding-top: 7rem;
}

body{
    background: rgb(238, 236, 236);
}
section{
    padding: 2rem.9%;
}

.features{
    background-color: rgb(243, 242, 242);
}
.products{
    background-color: rgb(243, 242, 242);

}
.Categories{
    background-color: rgb(243, 242, 242);
}

.heading{
    text-align: center;
    cursor: pointer;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}
.heading span{
    color: var(--orange);
    display: inline-block;
    padding: .5rem;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}
.btn:hover{
    background-color:var(--orange) ;
    color: #fff;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #fff;
    box-shadow: var(--box-shadow    );
}


.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}
.header .logo i{
        color: orange;
}
.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--orange);
}
.header .icon div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icon div:hover{
    background: var(--orange);
    color: black;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height:5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form table{
    font-size: 2.2rem;
    padding-right:1.5rem ;
    color: var(--black);
    cursor: pointer;
}
.header .search-form table:hover{
    color:var(--orange) ;
}
.header .shopping-card{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background-color: #fff;
}

.header .shopping-card.active{
    right: 2rem;
    transition: .4s linear;
}
.header .shopping-card .box{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-card .box img{
    height: 10rem;
}

.header .shopping-card .box i{
    font-size: 2rem;
    position: absolute;
    top: 37%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(50%);
}

.header .shopping-card .box i:hover{
    color: var(--orange);
}

.header .shopping-card .box .content h3{
    color: var(black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}


.header .shopping-card .box .content span{
    color: var(--light-color);
    font-size: 1.4rem;
}

.header .shopping-card .box .content .quility{
    padding-left: .1rem;
}
.header .shopping-card .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);
}
.header .shopping-card .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}

.header .login-form{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
}
.header .login-form.active{
    right: 2rem;
    transition: all 0.4s;
}
.header .login-form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);
}
.header .login-form .box{
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}
.header .login-form p{
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form a{
    color: var(--orange);
    text-decoration: underline;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../images/home\ banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 19rem;
    padding-bottom: 10rem;
}
.home .content{
    text-align: center;
    width: 60rem;
}
.home .content h3{
    color:red;
    font-size: 3rem;
    font-weight: bold;
}
.home .content h3 span{
    color: var(--orange);
}
.home .content p{
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    font-weight: 500;
}
section{
    padding: 2rem 9%;
}
.features .box-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.features .box-container .box{
    padding: 3rem 2rem;
    background-color: #fff;
    outline: var(--outline);
    outline-offset: -1rem ;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box:hover{
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.features .box-container .box img{
    width: 50%;
    height: 45%;
    margin: 1rem 0;
}

.features .box-container .box h3{
    font-size: 25px;
    line-height: 18px;
    color: var(--black);    
}

.features .box-container .box p{
    font-size: 15px;
    line-height: 18px;
    color: var(--light-color);
    padding: 10px;    
}


.products .products-slider{
    padding: 10px;
}
.products .products-slider:first-child{
    margin-bottom: 20px;
}

.products .products-slider .wrapper{
    width: 100%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px; */
}

.products .products-slider .box{
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    outline: var(--outline);
    outline-offset: -2rem;
    padding-bottom: 50px;
    box-shadow: var(--box-shadow);
    transition: .2s;
}


.products .products-slider .box:hover{
    outline: var(--outline-hover);
    outline-offset: -1rem;
}

.products .products-slider .wrapper .box img{
    width: 70%;
    height: 70%;
    padding: 15px;
    display: inline;
}

.products .products-slider .box .price{
    font-size: 20px;
    color: var(--light-color);
    padding: .5rem 0;
}

.products .products-slider .wrapper .box h3{
    font-size: 25px;
    color: var(--black);
    padding: .5rem 0;
}
.products .products-slider .wrapper .box .stars i{
    font-size: 15px;
    color: #ff7800;
}

.Categories .box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.Categories .box-container .box{
    background-color: white;
    border-radius: 5px;
    padding: 0rem 2rem;
    text-align: center;
    outline: var(--outline);
    outline-offset: -1rem;
    padding-bottom: 90px;
    box-shadow: var(--box-shadow);

}

.Categories .box-container .box:hover{
    outline-offset: 0;
    outline: var(--outline-hover);
}

.Categories .box-container .box img{
    width: 100%;
    height: 80%;
}
.Categories .box-container .box img:hover{
    transform: scale(1.2);
    transition: .3s;
}


.Categories .box-container .box h3{
    font-size: 25px;

}

.Categories .box-container .box p{
    font-size: 15px;
    color: var(--light-color);
}

.review .review-slider .wrapper-review .box{
    background-color: white;
    padding: 2rem 2rem;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1.5rem;
    text-align: center;
}
.review .review-slider .wrapper-review .box:hover{
    outline: var(--outline-hover);
    outline-offset: -.5rem;
}

.review .review-slider .wrapper-review .box p{
    font-size: 12px;
    padding-top: 10px;
    text-transform: lowercase;
}

.review .review-slider .wrapper-review .box h3{
    font-size: 25px;
}

.review .review-slider .wrapper-review .box i{
    color: #ff7800;
    font-size: 13px;
    padding-bottom: 10px;
}

.review .review-slider .wrapper-review .box .img{
    width: 100%;
    height: 100%;
}


.blogs .wrapper-blogs .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    background-color: #fff;
    padding: 1rem 2rem;
    padding-bottom: 10px;
    outline: var(--outline);
    outline-offset: -.2rem;
    text-align: center;
}

.blogs .wrapper-blogs .box:hover{
    outline: var(--outline-hover);
    outline-offset: -.6rem;
}

.blogs .wrapper-blogs .box img{
    width: 100%;
    height: 80%;
}

.blogs .wrapper-blogs .box .content{
    /* padding: 20px; */

}

.blogs .wrapper-blogs .box .content .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 15px; */
    margin-bottom: 10px;
    border-radius: var(--border);
    outline: var(--outline);
    padding-bottom: 10px;
}

    /* .blogs .wrapper-blogs .box .content .icon a{
        color: var(--light-color);
        font-size: 15px;

    } */

.blogs .wrapper-blogs .box .content .icon a i:hover{
    color:black;
}

.blogs .wrapper-blogs .box .content .icon  i{
    color: var(--orange);
    font-size: 1rem;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.blogs .wrapper-blogs .box .content h3{
    line-height: 20px;
    color: var(--black);
    font-size: 18px;
    padding: .5rem 0;
}

.blogs .wrapper-blogs .box .content p{
    font-size: 12px;
    text-transform: lowercase;
}



.footer{
    background-color: #fff;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer .box-container .box h3{
    font-size: 25px;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box h3 i{
    color: var(--orange);
}

.footer .box-container .box .link{
    display: block;
    font-size: 15px;
    color: var(--light-color);
    padding: .7rem 0;
}

.footer .box-container .box p{
    line-height: 18px;
    font-size: 15px;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box .link i{
    color: var(--orange);
    padding-right: .5rem;
}

.footer .box-container .box .link:hover i{
    padding-right: 2rem;
}

.footer .box-container .box{
    /* overflow: hidden; */
}

.footer .box-container .box .share a{
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--black);
    /* margin-left: 2rem; */
    padding-top: 5px;
    padding-bottom:5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: var(--orange);
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 16px;
    color: var(--black);
    text-transform: none;
}


.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 20px;
    color: var(--black);
    border-bottom: var(--border);
}

.footer .credit span{
    color: var(--orange);
}







@media(max-width :1180px){
    .Categories .box-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}


@media(max-width :991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

    .features .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .Categories .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width :768px){
    
    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 80%;
    }
    
    .header .navbar{
        position: absolute;
        top: 110%;
        right:-110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background-color: #fff;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        font-size: 2rem;
            margin: 2rem 2.5rem;
            display: block;
    }

    .features .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .Categories .box-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

@media(max-width :576px){
    .features .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .Categories .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media(max-width :450px){
    html{
        font-size: 50%;
    }
    .features .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .Categories .box-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

